body {
	/*font-family: Verdana, Georgia, "Times New Roman";
	color: #ffffff;
	background-image: url(../images/mainbackground.jpg);
	background-position: top center;*/
	margin: 0px;
   	padding: 0px;
	background:#333f35;
	font:normal bold 15px "Trebuchet MS";
	color:#bcc09a;
	/*text-align:center;
	background-image:url(../images/bkgdMain2.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	background-color:#860003;*/
} 

img{border:0;}


h2 {
	clear:both;
	padding-top:0px; /*20?*/
}

h3 {
	margin-top: 0px;
	padding-top: 0px;
}

ul {
	list-style:none;
	margin:0;
	padding:0;
}

li {
	float:left;
	width:242px;
	margin:0;
	padding:0;
	text-align:center;
}

li a{
	font-family: Verdana, Georgia, "Times New Roman";
	font-weight: bold;
	color: #ffffff;
	display:block;
	padding:5px 10px;
	height:100%;
	color:#000;
	text-decoration:none;
	border-right:1px solid #000;
	font-size: 0.8em;
}

.mb1 { width: 161px;  }
.mb2 { width: 242px; }

li a:hover, li a:focus, li a:active {
	background-position:-150px 0;
}

#a a {
	background:url(../images/bg3.jpg) repeat -20px 35px;
}


#a a:hover,#a li a:focus,#a li a:active {
background-position:-150px 0px;
}

div#header {
    width:976px;
    height: 165;
    margin-top: 5px;
}

div#menubar {
    width:976px;
    height: 35px;
    margin-top: 5px;
}

div#infobar_wrapper{
    width: 976px;
    margin-left: 10%;
	margin-right: 10%;
    text-align: center;
    clear:both;
}


div#infobar {
    float:left;
    margin-top: 5px;
    text-align: center;
}

div#footer {
    width: 976px;
    clear: both;
    margin-top:5px;
    text-align: center;
}

div#columns {
    width: 976px;
    margin-top:5px;
    overflow:hidden;
}

div#side1 {
    width:410px;
    float:left;
    margin-left:0px;
    margin-right:30px;
}

div#side2 {
    float:left;
    width: 536px;
}
div#singlecolumn {
    margin-left: auto;
    margin-right: auto;
   text-align: center;
} 


div#singlecolumnleft {
    margin-left: auto;
    margin-right: auto;
   text-align: left;
}

/* To center page:  */
div#wrapper {
    position:relative;
    margin-left:auto;
    margin-right:auto;
    top: 0px;
    width: 976px;
}




